* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    font-size: 30px;
}

.name-direction {
    text-align: center;
}

main {
    padding: 20px;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #063970;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}